<h2><%= bulletin_name params[:bulletin_id] %> <small><%= link_to '설정', edit_bulletin_path(params[:bulletin_id])%></small></h2>


<% @posts.each do | post | %>
    <div class='post'>
      <div class='title'><%= post.title %> <small>( <%= post.comments.size %> )</small></div>
      <div class='content'><%= simple_format post.content %></div>
      <% if post.tag_list.size > 0 %>
  		<div class='tag_list'><%= fa_icon('tags') + " " + tag_icons(post.tag_list) %></div>
	<% end %>

      <div>
          <%= link_to 'Show', [post.bulletin, post], class:'btn btn-default' %>
          <%= link_to 'Edit', edit_bulletin_post_path(post.bulletin, post), class:'btn btn-default' %>
          <%= link_to 'Destroy', [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
      </div>
    </div>
<% end %>

<br>

<%= link_to 'New Post', new_bulletin_post_path, class: 'btn btn-default' %>